h3
  {
    font-size: 25px !important;
  }
  canvas {
    border:2px dashed black;
  }
    body {
        background-image:  url( "https://i.pinimg.com/originals/6c/85/66/6c8566ebe83925232cb2ed7cbc9272ca.jpg");
    }